*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
    
    
}

.imgOne img{
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;
    position: relative;
    display: flex;
   }

.imgTwo img{
    float: right;
    display: flex;
    vertical-align: top;
    margin-top: 0px;
    border-radius: 400px;
    right: -50px;
    top: -50px;
    object-fit: cover;
    object-position: 20% 10%;
    transform: translate(+45%,-11%);
    position: relative;
    
}

.headOne {
    font-family: French Script MT;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 87,89px;
    letter-spacing: 3%;
    text-align: start;
    width: 1000px;
}

.letterOne {
    font-family: Calibri;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    line-height: 87,89px;
    letter-spacing: 3%;
    color:rgb(255, 196, 0);
}

.explanations {
    text-align:justify;
    position: relative;
    margin-top: 20px;
    left: 10%;
    font-size: 180%;
    right: 0%;
    

}

.motherText{
    font-family: French Script MT;
    justify-content: left;
    flex-direction:column;
    margin: 10px;
    width: 600px;

}

.messangerPlatform{
    align-items: left;
}

.secureBee{
    color: rgb(255, 196, 0);
    font-family: Calibri;
}

.button {
    font-family: Calibri;
    width: 40%;
    font-size: 30px;
    background-color: rgb(255, 196, 0);
    align-items: center;
    left: 10%;
    cursor: pointer;
    border-radius: 100px;
    padding: 1rem;
}

.button span {
    position: relative;
    transition: 0.5s;
}


.button:hover span {
    padding-right: 25px;
    left: 10%;
}

.polenBox {
    border-color: black;
    border-style: none;
    border: solid;
    float: right;
    
}

textarea {
    width: 556px;
    height: 153px;
    border-color: black;
    border-style: none;
    border: solid;
    
}

.messangerPolen {
    font-family: Calibri;
    font-size: 50%;
}

.idFrase {
    display: none;
}

body {
    position: relative;
    overflow-x: hidden;

}

footer {
    position: relative;
    font-family: Calibri;
    left: 50%;
    justify-content: right;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/*criar a classe display none